/*
 * A font that took me way too long to pick
 */

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('SourceSansPro-Regular.ttf');
}

::selection {
    color: inherit;
    background-color: #01a2b7;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 10px;
    overflow: hidden;
}

body {
    -webkit-app-region: drag;
    min-width: 400px;
    min-height: 48px;
    margin: 0px;
    height: 100%;
    background-color: #2C2E3B;
    padding-bottom: 0;
    margin-bottom: 0;
}

.btn-icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

#btn-pause-play-wrapper {
    float: left;
    margin: 0px;
    width: 48px;
    height: 100%;
    background-color: #01a2b7;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#btn-pause-play {
    vertical-align: middle;
    margin: auto;
    margin-top: 50%;
}

.btn-pause {
    background-image: url(pause.png);
}

.btn-play {
    background-image: url(play.png);
}

h1,
h2 {
    font-weight: lighter;
}

#label-volume {
    font-weight: lighter;
    font-size: 10pt;
    padding: 0;
    margin: 0px;
    margin-bottom: 13.333px;
}

#label-title {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13pt;
    float: left;
    display: inline-block;
    -webkit-app-region: no-drag;
}

#label-artist-album {
    font-weight: lighter;
    margin: 0px;
    float: left;
    margin-top 10px: initial;
    display: inline-block;
    clear: left;
    margin-left 5px: initial;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-app-region: no-drag;
    font-size: 10pt;
    padding: 0;
    font-weight: lighter;
}

#right-section {
    height: 100%;
    float: right;
    width: 40px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    cursor: default;
    border-left: 1px solid #1D1F2B;
    background-color: #2C2E3B;
}

.btn-close {
    float: right;
    background-image: url(close.png);
    cursor: pointer;
    margin-right: 11px;
    margin-top: 14px;
}

#label-volume-wrapper {
    position: absolute;
    right: 3px;
    bottom: -6px;
}

#info {
    float: left;
    width: auto;
    height: auto;
}
